{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--myjavscript-->
    <script src="{% static 'js/base.js' %}"></script>

    <!--mycss-->
    <link href="{%static "css/yeonsonam.css" %}" rel="stylesheet">
    <link href="{%static "css/base.css" %}?ver=1.00" rel="stylesheet">


      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<style type="text/css">


@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
p{font-family: "Jeju Gothic", sans-serif;}
body {background-color: #92a8d1;}
</style>




<script>
$(document).ready(function(){
{% block jquery %}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


$(".rating input[value='{{ my_rating }}']").attr("checked", "checked");


$(".rating input[type='radio']").click(function(event){
    // event.preventDefault()
    var inputValue = $(this).val()
    console.log(inputValue)
    var request = $.ajax({
        method: "POST",
        url: "{% url 'yeonsonam:ajax_rating' %}",
        data: {
            drama_id: "{{ drama.id }}",
            rating_value: inputValue,
            
        }
    })
    request.done(function(data){

    })

    request.fail(function(jqXHR, textStatus){
        if (jqXHR.status == 404) {
            alert("Page not found!")
        } else if (jqXHR.status == 401) {
            alert("You must be logged in to do this.")
        } else {
            alert("Log in")
        }
    })


})



{% endblock jquery %}
})
</script>


<body>
<div style="margin-top: 100;"></div>


<div style="margin-top: 100;"></div>


    <img src="{{drama.poster}}" width="300" height="425" style="margin-left: 20%;">
  <p>
            <strong></strong>

        <div class="rating" style="margin-left: 400;">
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
        </div>
        <br/>
        <p>

<div class="row">

    <div class=""><div style="margin-left: 20%;"><img src="{{drama.poster}}" width="300" height="425"><div style=" margin-left:30%; margin-top: -40%; margin-bottom: 10%; margin-right: 20%;">

    <div>

    <p>| 제목 : {{ drama.title }}</p>
    <p>| 장르 : {{ drama.genre }}</p>
    <p>| 상영시간 : {{ drama.runtime }}</p>
    <p>| 상영시작날짜 : {{ drama.start }}&emsp;&emsp;&emsp;| 상영완료날짜 : {{ drama.end }}</p>
    <p>| 상영상황 : {{ drama.state }} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;| 상영여부 : {{ drama.openrun }}</p>
    <p>| 공연날짜 : {{ drama.time}}</p>
    <p>| 가격 : {{ drama.price }}</p>
    <p>| 공연출연진 : {{ drama.cast }}</p>
    <p>| 공연제작진 : {{ drama.crew }}</p>
    <p>| 적정나이 : {{ drama.age }}</p>
    <p>| 장소 : {{ drama.place }}</p>
    <p>| 후원 : {{ drama.enterprise }}</p>
    <p>| 줄거리 : </p>
</body>
    {% if len > 10 %}

    {{drama.summary}}

    {% else %}

    <p>인간의 형상을 한 혼혈 천사와 혼혈 악마가 존재하는 세상. 태어날 때부터 그들을 구분하는 능력을 타고난 존 콘스탄틴(키아누 리브스)은 자신의 능력을 저주하며 운명에서 벗어나기 위해 자살을 시도하지만 실패하고 만다. 그 후 다시 살아난 그는 천국과 지옥의 경계를 넘나들며 세상에 존재하는 악을 지옥으로 돌려보내기에 나선다. 그래야만 지옥으로 가게 되어 있는 자신의 운명이 뒤바뀌어 천국으로 들어갈 수 있음을 깨달았기 때문이다. 술, 담배에 쩔어 살면서 계속되는 전투에 지쳐만 가던 콘스탄틴. 그런 그에게 어느 날, L.A 강력계 소속의 여형사 안젤라(레이첼 와이즈)가 찾아와 쌍둥이 동생의 죽음에 대한 의문을 풀기 위해 도움을 요청한다. 그러나 사건을 파헤칠수록 거대한 어둠의 힘 속으로 빨려 들게 되는데...</p></div>

    {% endif %}

    </div>
</div></div>
  </div>


{% for i in urls %}
<div style="text-align: center; ">
<img src="{{i}}"></div>
{% endfor %}