{% extends 'base2.html' %}
{% load static %}

{% block style_css %}
  <link href="{% static "css/accounts.css" %}?ver=1.13" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="profile" style="margin-left:10%;">
   <h3>{{user}}
  <h3>{{ profile.user }}</h3>
  <img class="responsive-img profile_image" src="{{ profile.image_url }}">
  <p>닉네임 : {{ profile.nickname|default:"미입력" }}</p>
  <p>생일 : {{ profile.birth_day|date:"Y.m.d."|default:"미입력" }}</p>
  <p>이메일 : {{ profile.email_address|default:"미입력" }}</p>
  <p>성별 : {{ profile.gender|default:"미입력" }}</p>
  <p>휴대폰번호 : {{ profile.phone_number|default:"미입력" }}</p>
  <p>집주소 : {{ profile.home_address|default:"미입력" }}</p>
  <p>자기소개 : {{ profile.description|default:"미입력" }}</p>
  <p>가입날짜 : {{ profile.created_at|date:"Y.m.d h:i A"|default:"미입력" }}</p>
</div>

<a href="{% url 'accounts:profile_update' %}" type="button" class="btn">프로필 수정</a>

{% endblock %}

